.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 64%;
    gap: 6%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-between;
}
.contact__option, .contact__option_from{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
  
}
.c-border{
    border-radius: 1.2rem;
}
.contact__option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}
.contact_option-icons{
    padding: 5px;
    width: 39px;
    font-size: 33px;
    display: block;
    margin: 0.5rem auto;
}
.font__mail{
    font-size: 11px;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.9rem;
}



/* ================== Form ====================== */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: #fff;
}

/*  Media queries (Medium devices) */

@media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr ;
        gap: 1.2rem;
    }

}
/*  Media queries (small devices) */

@media screen and (max-width: 600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
}
    